@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  --font: "Rubik", sans-serif;
  --dark-grey: hsl(0, 0%, 17%);
  --grey: hsl(0, 0%, 59%);
  --white: hsl(0, 0%, 100%);
}

/* CSS Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */

html {
  font-size: 62.5%;
}

body {
  background: url("../images/pattern-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 30rem;
  color: var(--dark-grey);
  font-family: var(--font);
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center;
}

/* Main */

.main-heading {
  color: var(--white);
  font-weight: 500;
  margin-top: 3rem;
  font-size: 2rem;
}

form {
  width: min(86.6666%, 56rem);
  margin: 3rem auto;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

input[type="search"] {
  font: inherit;
  width: 100%;
  border: none;
  padding: 1.75rem 2rem;
}

::placeholder {
  color: var(--grey);
  opacity: 1;
}

.btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--dark-grey);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem;
}

#map {
  height: calc(100vh - 30rem);
}

/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media Queries */
@media screen and (min-width: 1440px) {
  body {
    background-size: 100% 28rem;
  }

  .main-heading {
    font-size: 3.2rem;
  }

  .results {
    display: flex;
  }

  #map {
    height: calc(100vh - 28rem);
  }
}
